/* General Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    color: #333;
}

a {
    color: #337ab7;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Board Details */
.board-details {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.board-details th,
.board-details td {
    padding: 10px;
    border: 1px solid #ccc;
}

.board-details th {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: left;
    width: 120px;
}

/* Button Group */
.button-group {
    text-align: center;
    margin-top: 20px;
}

.button-group a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.button-group a:last-child {
    margin-right: 0;
}

/* Confirm Delete */
.confirm-delete {
    display: none;
}

/* Comment Section */
.comment-section {
    margin-top: 20px;
}

.comment-section form {
    margin-bottom: 10px;
}

.comment-section textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    padding: 5px;
}

.comment-section input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}

.comment-section button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.comment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comment-list li {
    margin-bottom: 10px;
}

.comment-list p {
    margin: 0;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .board-details th,
    .board-details td {
        font-size: 14px;
    }

    .button-group a {
        padding: 8px 16px;
    }

}

/* Additional Styles */
#commentAddArea {
    margin-top: 20px;
}

.CommentArea h2 {
    margin-bottom: 10px;
}

.CommentArea form {
    margin-bottom: 10px;
}

.CommentArea textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    padding: 5px;
}

.CommentArea button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.CommentArea ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.CommentArea li {
    margin-bottom: 10px;
}

.CommentArea li span {
    display: inline-block;
    margin-right: 5px;
}


.content-wrapper {
    border: 1px solid black;  /* 네모 틀에 검정색 테두리를 적용합니다. */
    padding: 20px;  /* 틀 안의 콘텐츠와 테두리 사이에 공간을 만듭니다. */
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: rgba(121, 152, 178, 0.9);
}