/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 5px;
    margin-top: 25px;
}

/* Page Title */
.page-title {
    text-align: center;
    margin-bottom: 20px;
}

.page-title h3 {
    color: #333;
    font-size: 24px;
}

/* Login Info */
.login-info {
    text-align: right;
    margin-bottom: 20px;
}

.login-info a {
    text-decoration: none;
    color: #fff; /* Change the color to white */
    margin-left: 10px;
    border: none; /* No border */
    padding: 10px 20px; /* Some padding for better look */
    display: inline-block; /* To apply padding and other block properties */
    font-weight: bold; /* Make text bold */
    transition: background-color 0.3s; /* Transition for smooth color change */
}

.login-info .login-info_login a {
    background-color: rgba(121, 152, 178, 0.9); /* The specific color when not clicked */
}

.login-info .login-info_login a:active { /* Style when button is clicked */
    background-color: rgba(121, 152, 178, 0.7); /* Slightly lighter color on click */
    box-shadow: none; /* No box shadow on click */
}

.login-info .login-info_join a {
    background-color: #e6a756; /* The specific color when not clicked */
}

.login-info .login-info_join a:active { /* Style when button is clicked */
    background-color: #d99a48; /* Slightly lighter color on click */
    box-shadow: none; /* No box shadow on click */
}
.login-info .login-info_user a {
    background-color: rgba(121, 152, 178, 0.9); /* The specific color when not clicked */
}

.login-info .login-info_user a:active { /* Style when button is clicked */
    background-color: rgba(121, 152, 178, 0.7); /* Slightly lighter color on click */
    box-shadow: none; /* No box shadow on click */
}

.login-info .login-info_logout a {
    background-color: #e6a756; /* The specific color when not clicked */
}

.login-info .login-info_logout a:active { /* Style when button is clicked */
    background-color: #d99a48; /* Slightly lighter color on click */
    box-shadow: none; /* No box shadow on click */
}

/* Board List */
.board-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.board-table th,
.board-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.board-table th {
    background-color: rgba(121, 152, 178, 0.9);
    font-weight: bold;
    text-align: left;
}

.board-table td {
    text-align: center;
    background-color: rgba(121, 152, 178, 0.9);
}

/* Write Form Button */
#writeFormButton {
    text-align: right;
    margin-bottom: 0;
}

#writeFormButton a,
#writeFormButton span {
    padding: 5px 5px;
    background-color: #e6a756;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

#writeFormButton span {
    background-color: #e6a756;
    color: #333;
}

/* Pagination Button */
#paginationButton {
    text-align: center;
    margin-bottom: 20px;
}

#paginationButton span {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
    background-color: rgba(121, 152, 178, 0.9);
    border: 1px solid #ccc;
}

#paginationButton span:hover {
    background-color: #ccc;
}

/* Search Form */
#search-form {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

#search-form input[type="text"] {
    padding: 10px;
}

#search-form button {
    padding: 10px 20px;
    background-color: #e6a756;
    color: #fff;
    border: none;
    cursor: pointer;
}

#search-form button:hover {
    background-color: #555;
}

/* External Link */
#external-link {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

#external-link a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

#external-link a:hover {
    background-color: #ccc;
}

/* GNB */
.gnb {
    background-color: #333;
    color: #fff;
}

.gnb .container {
    display: flex;
    justify-content: center;
}

.gnb nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.gnb nav ul li {
    margin-right: 20px;
}

.gnb nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.gnb nav ul li a:hover {
    color: #ccc;
}
/* Weather Information (FNB) */
/*#weather-info {*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    padding: 20px 0;*/
/*    text-align: center;*/
/*}*/

/*#weather-info .container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*}*/

/*#weather-info h3 {*/
/*    font-size: 16px;*/
/*    margin: 0;*/
/*}*/

/*#weather-info p {*/
/*    margin: 5px 0;*/
/*}*/

/*#weather-info a {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    margin-left: 10px;*/
/*}*/

/*#weather-info a:hover {*/
/*    color: #ccc;*/
/*}*/
/* Weather Information (FNB) */
/*#weather-info {*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    padding: 20px 0;*/
/*    text-align: center;*/
/*}*/

/*#weather-info .container {*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*#weather-info .box {*/
/*    margin: 10px 0;*/
/*    padding: 20px;*/
/*    background-color: #444;*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*    border-radius: 5px;*/
/*}*/

/*#weather-info h3 {*/
/*    font-size: 16px;*/
/*    margin: 0;*/
/*}*/

/*#weather-info p {*/
/*    margin: 5px 0;*/
/*}*/

/*#weather-info a {*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    margin-left: 10px;*/
/*}*/

/*#weather-info a:hover {*/
/*    color: #ccc;*/
/*}*/
