html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dd, ol, ul, figure, hr, fieldset, legend,
textarea, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.board-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    word-break: break-all;
}
@keyframes blink {
    0%, 66.66% {
        opacity: 1;
    }
    /*33.33%, 100% {*/
    /*    opacity: 0;*/
    /*}*/
}

h1 {
    text-align: center;
    margin-top: 60px;
    color: #e6a756;
    animation: blink 3s infinite; /* Now the blink animation takes 3 seconds for one cycle */
    font-weight: bold;
}


.board-table th,
.board-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.board-table th {
    background-color: #f2f2f2;
}

.board-table tbody tr:hover {
    background-color: #f9f9f9;
}

#board-list {
    margin-top: 30px;
}

#board-list a {
    color: rgba(121, 152, 178, 0.9);
    text-decoration: none;
}

#board-list a:hover {
    text-decoration: underline;
}

#homeButton {
    text-align: center;
    margin-top: 20px;
}

#homeButton a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(121, 152, 178, 0.9);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#homeButton a:hover {
    background-color: rgba(121, 152, 178, 0.9);
}
