/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.table-container {
    margin-top: 20px;
}

.board-table {
    width: 100%;
    border-collapse: collapse;
}

.th-num,
.th-title,
.th-viewCnt,
.th-name,
.th-date {
    padding: 10px;
    text-align: left;
}

.th-num {
    width: 10%;
}

.th-title {
    width: 40%;
}

.th-viewCnt {
    width: 15%;
}

.th-name,
.th-date {
    width: 10%;
}

tbody td {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}

a:visited {
    color: #777;
}

a:active {
    color: #000;
}

a:focus {
    outline: none;
}

a:focus,
a:active {
    text-decoration: underline;
}
