body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.search-results {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.board-table {
    width:  60%;
    margin-top: 100px;
    border-collapse: collapse;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(121, 152, 178, 0.9);
    
}

.board-table th,
.board-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.th-num {
    width: 10%;
}

.th-title {
    width: 50%;
}

.th-viewCnt,
.th-date {
    width: 20%;
}

#homeButton {
    text-align: center;
}

.Button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}
/* GNB */
.gnb {
    background-color: #333;
    color: #fff;
}

.gnb .container {
    display: flex;
    justify-content: center;
}

.gnb nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.gnb nav ul li {
    margin-right: 20px;
}

.gnb nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.gnb nav ul li a:hover {
    color: #ccc;
}