<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="/bootstrap/assets/favicon.ico" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/bootstrap/css/styles.css" rel="stylesheet" />
    <title>게시물 상세보기</title>
    <link rel="stylesheet" href="boarddetail4.css" />
</head>
<header>
    <div class="wrapper">
    <!--</header>-->
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Real-time weather sharing community for leisure activities</span>
            <span class="site-heading-lower">WEATHER CONDITIONS</span>
        </h1>
    </header>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="list.html">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto justify-content-center">
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/">Home</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/about">About</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/noticeList">Notice</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="https://weather.naver.com/today/" target="_blank">Naver</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
</header>
<body>
<div class="content-wrapper">
<table class="board-details">
    <tr>
        <th>글쓴이</th>
        <td><span th:text="${board.name}"></span></td>
    </tr>
    <tr>
        <th>제목</th>
        <td><span th:text="${board.title}"></span></td>
    </tr>
    <tr>
        <th>조회수</th>
        <td><span th:text="${board.viewCnt}"></span></td>
    </tr>
    <tr>
        <th>작성일</th>
        <td><span th:text="${board.regdate}"></span></td>
    </tr>
    <tr>
        <th>내용</th>
        <td><span th:text="${board.content}"></span></td>
    </tr>
</table>

<div class="button-group">
    <a href="/">목록보기</a>
    <a th:href="@{/updateform(boardId=${board.boardId})}">수정하기</a>
    <a onclick='confirmDelete();' th:href="@{/delete(boardId=${board.boardId})}">삭제하기</a>
</div>

<div id="commentAddArea">
    <div class="CommentArea">
        <h2>댓글</h2>
        <form id="commentForm" method="POST" action="/writeComment">
            <input type="hidden" name="boardId" th:value="${board.boardId}" />
            <textarea name="content" placeholder="댓글을 입력하세요"></textarea>
            <button type="submit">작성하기</button>
        </form>
    </div>
</div>
<div id="commentarea">
    <div class="comment">
        <h3>댓글 목록</h3>
        <ul id="commentList">
            <li th:each="comment : ${comments}">
                <span th:text="${comment.name}"></span>
                <span>: </span>
                <span th:text="${comment.content}"></span>
                <span th:text="${comment.regdate}"></span>
            </li>
        </ul>
    </div>
</div>
<script>
    function confirmDelete() {
        if (confirm("게시물을 삭제하시겠습니까?")) {
            return true;
        } else {
            return false;
        }
    }
</script>

</body>
<footer class="footer text-faded text-center py-5">
    <div class="card text-center mx-2" >
        <div th:each="cityWeather : ${weather}">
            <div class="card-header">
                <h3 class="city-name" th:text="${cityWeather.name}"></h3>
            </div>
            <div class="card-body">
                <p class="temperature" th:text="'Temperature: ' + ${#numbers.formatDecimal(cityWeather.main.temp - 273.15, 2, 2)} + '°C'"></p>
                <p class="weather-description" th:text="'Weather: ' + ${cityWeather.weather[0].description}"></p>
            </div>
        </div>
    </div>
</footer>
</html>