<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입 환영</title>
    <link rel="stylesheet" href="welcome.css" />
</head>
<body>
<H1>회원가입을 환영합니다.</H1>
<div id="loginButton">
    <div class="container">
        <a href="/loginform">로그인</a><br>
    </div>
</div>

<div id="homeButton">
    <div class="container">
        <a href="/">HOME</a>
    </div>
</div>
</body>
</html>